html, body {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(240, 240, 240);
}

canvas {
  display: block;
}

.page {
  width: 100%;
  height: 100vh;
  align-content: center;
}

#canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}